<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>CourtManage</title>
    <style>
      
        
    #upper{
        background-color:#336699;
        width:95%;
        height: 400px;
        padding: auto;
        border-radius: 5px 50px;
        margin-top: 70px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        float: left;
        
    }
    #middle{
        background-color:#99ffcc;
        width:40%;
        height: 400px;
        padding: 10px;
        border-radius: 50px 50px;
        margin-top: 5px;
        margin-left: 5%;
        margin-right: 5%;
        float: left;
        
    }
    #middler{
        background-color:lightblue;
        width:40%;
        height: 400px;
        padding: 10px;
        border-radius: 50px 50px;
        margin-top: 5px;
        margin-left: 5%;
        margin-right: 5%;
        float: left;
        
      
        
    }
    </style>
    <script language="Javascript">
      function hide()
{

    document.getElementById("UID").style.visibility="hidden";
    document.getElementById("UID2").style.visibility="hidden";
      

}
function unhide()
{

    document.getElementById("UID").style.visibility="visible";
    document.getElementById("UID2").style.visibility="visible";
        

}


    
    </script>
</head>
<body >
