<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>CourtManage</title>
   
      
    
    <script language="Javascript">
      function hide()
{

    document.getElementById("UID").style.visibility="hidden";
    document.getElementById("UID2").style.visibility="hidden";
      

}
function unhide()
{

    document.getElementById("UID").style.visibility="visible";
    document.getElementById("UID2").style.visibility="visible";
        

}


    
    </script>
</head>
<body >
<nav id="na"class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><b>Court</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <% advocate.forEach(function(advocate){%>
        <a class="nav-link" href="/second">Home </a>
         <% }); %>
      </li>
      <li class="nav-item active">
         <% advocate.forEach(function(advocate){%>
        <a class="nav-link" href="/notes/<%= advocate._id %>">Notes <span class="sr-only">(current)</span></a>
        <% }); %>
      </li>
      
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-dark">Search</button>
      
     
    </form>
  </div>
  <div style=" color: white; padding: 3px ; margin-right: 4px; ">
   
               Welcome  <%= username %>
</div> 
 
                <a  href="/logout" class="btn btn-info" role="button">Logout</a>
             
  
</nav>

<div class="container" >
<h2>Notes</h2>

<% note.forEach(function(Notes){%>

<table>
     <tr>
   <td>
     <div >
        

        <p >
         
         <h7 style="padding-left: 2px;"></h7><%= Notes.desc %>
         <br>
        
        
          
        <a  href="/delete" class="btn btn-danger" role="button">Delete</a>
       
        </p>
      </div>
      </td>
  </tr>
  </table>
<% }); %>

 <a  href="/submitnote" class="btn btn-dark" role="button">Add New Notes</a>

</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>